body {
        background-image: url(organs91955_000000003.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
