body {
        background-image: url(weird-guy-for-web_);
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        background-attachment: scroll;
    }
