body {
        background-image: url(PHOTOS AND GIFS/organs91955_000000003.png);
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        background-attachment: scroll;
    }
